
@media screen and (max-width: 1360px){
    .head{
        width:90%;
    }
    .containe_catalog_width,.in_button {
        width: 100%;
    }
}
@media screen and (max-width: 1024px){
    .head_footer{
        width:auto;
    }
    .head_footer{
        padding: 0 20px 0 0;
    }
}
@media screen and (max-width: 920px){

    .search{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .searchList{
        display: flex;
        font-size: 10px;
        flex-wrap: wrap;
        justify-content:center ;
    }
    .searchList2{
        display: none;
        width: 100%;
        position: absolute;
        list-style: none;
        right: 0;
    }
    .list1:hover > .searchList2{
        display: block;
    }
    .list1{
        width: 100px;
        padding: 10px;
        border:3px solid deeppink;
        position: relative;
        margin-right: 10px;
        cursor: pointer;
    }
    .list2{ padding: 10px;
        background: gray;
        cursor: pointer;
    }
    .list2:hover{
        background: snow;
    }
    .containet_about{
        width: 100%;
        padding: 20px 30px 0 10px;
    }
}
@media screen and (max-width: 720px){
    .head{
        font-size: 10px;
    }.head img{
        width:80px!important;
    }
    header .head a ion-icon{
        font-size: 15px;
    }
    .lists{
        position: absolute;
        text-align: left;
        flex-direction: column;
        background: white;
        width: 100%;
        left:-100%;
        border-bottom: 1px solid lightgray;
    }
    .icon{
        display:block
    }
    .two-icon{
        position: absolute;
        right: 0px;
        top:0px;
    }
    .lists  a:hover{
        background: hotpink;
        color:white;
    }
    .lists  a {
        width: 100%;
        box-sizing: border-box;
        display: inline-block;
    }
    .lists li{
        padding: 0;
    }
    .container_photo{
        height: 250px;
    }
    .massage_before_catalog .before_catalog{
        font-size: 13px;
    }
    .help_main_text{
        font-size: 13px;
    }
    .containar_one {
        width: 40%;
    }
    .in_button{
        justify-content: center;
    }
    .button_to{
        margin:0;
    }
    .contant_footer{
        font-size: 10px;
    }
    .block_with_person{
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(194, 194, 194, 0.64);
        padding-bottom: 10px;
    }
    .block_with_person:last-child{
        border-bottom:none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .img_with_person{
        order: 0!important;
    }
    .text_with_person{
        font-size: 14px;
    }
    .albums,.one_of_the_catalog {
        width: 100%;
        flex-wrap: wrap;
    }
    .albums{
        padding: 20px;
        justify-content: center;
    }
    .one_photo{
        width: 80%;
        margin-bottom: 10px;
    }
    .searchList{
        display: none
    }
    .searchListHidden{
        display: block
    }
    .searchListHidden{
        width: 400px;
    }
    .helps{
        width: 100%;
        text-align: justify;
        padding: 0 40px 0 20px;
    }
    .helps h4{
        text-align: center;
    }
    .helpsflex h5{
        margin: 0;
        padding: 0 20px 0 0;
    }
    .help_main_container_width .helps{
        padding: 0 20px 0 0;
    }
    .helps p{
        padding: 20px;
        margin: 0;
    }
    .head_footer{
        padding: 0 20px 0 0;
    }
    .helps ul{
        width: 100vw;
    }
}
@media screen and (max-width: 520px){
    #tabs{
        display: block;
        padding-left: 0;
    }
    .infTabs{
        width: 100vw;
        padding: 20px 0;
    }
    .tabs li:last-child{
        border-bottom:1px solid rgba(0, 0, 0, 0.72);
    }
    .tabs li{
        padding: 20px;
    }
    .tabs{
        display: block;
        width: 100vw;
    }
    .button_modal{
        left:0;
        right: auto;
    }
}
@media screen and (max-width: 420px){
    section{
        width: 100vw;
    }

    .containar_one {
        width: 60%;
    }
    .img_with_person{
        height: 200px;
    }
    .contant_footer{
        flex-wrap: wrap;
    }
    .search{
        width: 80%;
    }
    .searchListHidden{
        width: 80%;
    }
    .list2Hidden{
        font-size: 10px;
    }
    .containet_about p{
        font-size: 13px;
    }
}
@media screen and (max-width: 320px){
    section{
        width: 100vw;
    }
    .containar_one {
        width: 70%;
    }
    .img_with_person{
        height: 200px;
    }
    .containet_about p{
        font-size: 11px;
    }
}